.controllerBtn {
  position: 'relative';
  padding: '5px';
  margin: '30px auto';
  background: '#000';
  height: '50px';
  width: '50px';
  border-radius: '50%';
  transition: 'all 0.2s linear';
}
.controllerBtn::after {
  content: '""';
  position: 'absolute';
  margin: 20;
  z-index: 11;
  display: 'block';
  width: '25px';
  height: '25px';
  border-top: '2px solid #fff';
  border-left: '2px solid #fff';
}

.btnUp {
  top: 20;
  transform: 'rotate(45deg)';
};
.btnDown {
  top: 10;
  transform: 'rotate(225deg)';
};
.btnLeft {
  top: 20;
  transform: 'rotate(-45deg)';
};
.btnRight {
  top: 20;
  transform: 'rotate(135deg)';
};

.btn {
  cursor: 'pointer';
}
.btn:hover {
  background: '#37474f'
}